*

body {
	background-color: paleTurquoise;
}

p {
	font-size: 20px;
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 5px purple;
}

p.home {
	text-align: center;
	padding: 10px;
	border: 5px solid mediumTurquoise;
	outline: 2px solid white;
}

h1 {
	display: block;
	padding: 5px;
	background-color: mediumTurquoise;
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px red;
}
div.score {
	padding: 2px;
	margin: 8px;
	border: 5px solid white;
	background-color: mediumTurquoise;
}