{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
	<h1>Home</h1>
	<p class="home">This quiz is designed to test your random knowledge. It contains math, science, and culture questions. You will only be able to answer each question once and will only be given your score at the end.</p>
	<p class="home">Do your best and know that looking stuff up, while not prohibited, takes some of the fun out. Good luck!</p>
	<ul>
		<li><a href="/page1">Get started</a></li>
	</ul>
{% endblock %}
